

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)
{

    .esriCTHeaderSearch
    {
        background-image: url("../images/img2X/search@2X.png") !important;
    }

    .esriCTHelpImg
    {
        background-image: url("../images/img2X/help@2X.png") !important;
    }

    .esriCTHeaderSearchSelected
    {
        background-image: url("../images/img2X/search-select@2X-orange.png") !important;
    }

    .esriCTTdGeolocation
    {
        background-image: url("../images/img2X/geo-location@2x.png") !important;
    }

    .esriCTImgSocialMediaSelected
    {
        background-image: url("../images/img2X/share-select@2X-orange.png") !important;
    }

    .esriCTImgSocialMedia
    {
        background-image: url("../images/img2X/share@2X.png") !important;
    }

    .esriCTRouteImg
    {
        background-image: url("../images/img2X/get-route@2x.png") !important;
    }

    .esriCTRouteImg-select
    {
        background-image: url("../images/img2X/get-route-select@2x.png") !important;
    }

    .esriCTActivitiesImg
    {
        background-image: url("../images/img2X/activity-planner@2x.png") !important;
    }

    .esriCTActivitiesImgSelected
    {
        background-image: url("../images/img2X/activity-planner@2x-select-orange.png") !important;
    }

    .esriCTFacebook
    {
        background-image: url("../images/img2X/img_facebook@2x.png") !important;
    }

    .esriCTTwitter
    {
        background-image: url("../images/img2X/img_twitter@2x.png") !important;
    }

    .esriCTEmail
    {
        background-image: url("../images/img2X/img-email@2x.png") !important;
    }

    .esriCTEmbedding
    {
        background-image: url('../images/img2X/embedding@2x-select-orange.png') !important;
    }
}

@media screen and (max-width: 1024px)
{

    .esriCTHeaderSearch
    {
        background-image: url("../images/img44x44/search.png") !important;
    }

    .esriCTHelpImg
    {
        background-image: url("../images/img44x44/Help.png") !important;
    }

    .esriCTHeaderSearchSelected
    {
        background-image: url("../images/img44x44/search-select-orange.png") !important;
    }

    .esriCTTdGeolocation
    {
        background-image: url("../images/img44x44/imgGeolocation.png") !important;
    }

    .esriCTImgSocialMediaSelected
    {
        background-image: url("../images/img44x44/imgSocialMedia_orange.png") !important;
    }

    .esriCTImgSocialMedia
    {
        background-image: url("../images/img44x44/imgSocialMedia.png") !important;
    }

    .esriCTRouteImg
    {
        background-image: url("../images/img44x44/get-route.png") !important;
    }

    .esriCTRouteImg-select
    {
        background-image: url("../images/img44x44/get-route-select-orange.png") !important;
    }

    .esriCTActivitiesImg
    {
        background-image: url("../images/img44x44/activity-planner.png") !important;
    }

    .esriCTActivitiesImgSelected
    {
        background-image: url("../images/img44x44/activity-planner-select-orange.png") !important;
    }

    .esriCTFacebook
    {
        background-image: url("../images/img44x44/img_facebook_orange.png") !important;
    }

    .esriCTTwitter
    {
        background-image: url("../images/img44x44/img_twitter_orange.png") !important;
    }

    .esriCTEmail
    {
        background-image: url("../images/img44x44/img_email_orange.png") !important;
    }

    .esriCTEmbedding
    {
        background-image: url('../images/img44x44/embedding_orange.png') !important;
    }
}

/*main browser theme*/

.esriCTHeaderSearch
{
    background-image: url("../images/img24x24/search-24.png");
}

.esriCTHelpImg
{
    background-image: url("../images/img24x24/Help-24.png");
}

.esriCTHeaderSearchSelected
{
    background-image: url("../images/img24x24/search-select-orange-24.png");
}

.esriCTTdGeolocation
{
    background-image: url("../images/img24x24/imgGeolocation-24.png");
}

.esriCTImgSocialMediaSelected
{
    background-image: url("../images/img24x24/imgSocialMedia_orange-24.png");
}

.esriCTImgSocialMedia
{
    background-image: url("../images/img24x24/imgSocialMedia-24.png");
}

.esriCTRouteImg
{
    background-image: url("../images/img24x24/get-route-24.png");
}

.esriCTRouteImg-select
{
    background-image: url("../images/img24x24/get-route-select-orange-24.png");
}

.esriCTActivitiesImg
{
    background-image: url("../images/img24x24/activity-planner-gray-24.png");
}

.esriCTActivitiesImgSelected
{
    background-image: url("../images/img24x24/activity-planner-orange-24.png");
}
.esriCTInfoAddlistText
{
    color: #808080;
}
.esriCTFacebook
{
    background-image: url("../images/img24x24/img_facebook_orange-24.png");
}

.esriCTTwitter
{
    background-image: url("../images/img24x24/img_twitter_orange-24.png");
}

.esriCTEmail
{
    background-image: url("../images/img24x24/img_email_orange-24.png");
}

.esriCTEmbedding
{
    background-image: url('../images/img24x24/embedding_orange-24.png');
}

.HomeButton .home, .HomeButton .home:hover
{
    background-image: url('../images/home.png');
    background-color: #d15706;
    border: #fff solid 0 !important;
}

.esriCTMainLoader
{
    background-image: url('../images/loader.gif');
}

.esriCTlocateSearchicon
{
    background-image: url("../images/search-orange.png") !important;
}

.esriCTInfoWindowRightArrow
{
    background: url("../images/right-arrow-orange.png");
}

.esriCTInfoWindowLeftArrow
{
    background: url("../images/blue-arrow-orange.png");
}

.esriCTSelectionIcon
{
    background-image: url('../images/search-orange.png');
}

.esriCTSearchIcon
{
    background-image: url("../images/search-orange.png") !important;
}

.esriCTClearInput
{
    background: #fff url("../images/close.png") !important;
}
/* Application Header */

.esriCTApplicationHeader
{
    border-bottom: 1px solid #d15706;
    background: #fff;
}

.esriCTApplicationHeaderTextTD
{
    color: #d15706;
    text-shadow: 0 0 1px #AAAAAA;
}

.esriCTRightTab
{
    background-color: #fff;
}

.esriCTAddressContent
{
    border-right: 1px solid #d15706;
    border-left: 1px solid #d15706;
    border-bottom: 1px solid #d15706;
    background-color: #fff;
}

.esriCTTxtAddress
{
    border: #DFDFDF solid 1px;
}

input
{
    color: #808080 !important;
}

.esriCTContentBottomBorder
{
    border-bottom: 1px solid #b4b4b4;
    color: #808080 !important;
}

.esriCTColorChange
{
    color: #000 !important;
}

.esriCTBlurColorChange
{
    color: Gray;
}

.esriCTSearchClose
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.esriCTResultColor
{
    color: #d15706;
}

.esriCTActivityPanelSelected
{
    color: #d15706;
    border-left: 1px solid #FAFAFA;
    border-right: 1px solid #fff;
}

.esriCTActivityPanel
{
    border-bottom: 1px solid #d15706;
    color: #d15706;
    border-left: 1px solid #FAFAFA;
    border-right: 1px solid #d15706;
}

.esriCTSearchPanelSelected
{
    border-bottom: 1px solid #d15706;
    color: #d15706;
    border-left: 1px solid #d15706;
    border-right: 1px solid #FAFAFA;
}

.esriCTSearchPanel
{
    color: #d15706;
    border-left: 1px solid #fff;
    border-right: 1px solid #FAFAFA;
}

.esriCTDivAppHolder, .esriCTDivShareContainer, .esriCTDivActivityAppHolder, .esriCTDivActivityContainer
{
    background-color: #fff;
    border-right: 1px solid #d15706;
    border-left: 1px solid #d15706;
    border-bottom: 1px solid #d15706;
}

.esriCTTxtShare
{
    border: 1px solid #d15706;
}


.esriCTShareBorder
{
    border-bottom: none !important;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    background-color: #d15706 !important;
    border: #fff solid 0 !important;
}

.esriSimpleSlider
{
    background-color: transparent !important;
    color: #ffffff !important;
    border: #fff solid 0 !important;
}

.BasemapToggle .toggleButton
{
    border-radius: 0px !important;
    border: 2px solid #d15706 !important;
}

.BasemapToggle .basemapTitle
{
    color: #d15706 !important;
}

.BasemapToggle .basemapImage
{
    border: 1px solid #d15706;
}

.esriCTSearchContent
{
    color: Black;
}

.esriCTDirectionContainerSelected
{
    color: #d15706;
    border-left: none;
    border-bottom: none;
}

.esriCTDirectionContainer
{
    background: none repeat scroll 0 0 #FAFAFA;
    border-right: 1px solid #d15706;
    border-bottom: 1px solid #d15706;
    color: #d15706;
}

.esriCTHeaderRouteContainer
{
    background-color: #FFFFFF;
    border-left: 1px solid #d15706;
    border-right: 1px solid #d15706;
    border-top: none !important;
}

.esriCTRouteInformationContainer-select
{
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #d15706;
    color: #d15706;
    border-top: none !important;
}

.esriCTRouteInformationContainer
{
    color: #d15706;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.esriCTActivityContainer
{
    background-color: #FFFFFF;
    border-right: none !important;
}

/* End of Route */

/*splash Screen*/

.esriCTSplashScreenDialog
{
    background-color: #fff;
    color: #000;
}

.customButtonContainer
{
    background: #fff;
}

.customButton
{
    color: #fff;
    background: #d15706;
}
/* End of splash Screen */

/* CSS for styling corners*/

.esriCTRoundedCorner
{
    behavior: url("esri_template/core_library/PIE.htc");
}

.esriCTBoxShadow
{
    border: 2px solid #d15706;
}

.scrollbar_handle
{
    background-color: #C0C0C0;
}

.esriScrollBarPosition
{
    position: relative;
}

.basemapThumbnail
{
    -moz-box-shadow: 0 0 5px #666;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
    border: 4px solid #fff;
}

.esriCTLegendBox
{
    background: #FFFFFF; /* the next props are meant to keep this block independent from the other floated one */
}

.esriCTLegendBoxInner
{
    border: 1px solid #d15706 !important;
}

.esriCTLegendLabel
{
    color: #808080;
}


.esriCTLegendBoxInner div
{
    color: #464646;
}
/*Start of Infowindow style*/

.esriCTInfoWindow
{
    border: #d15706 solid 1px;
    background: #FFF;
}

.esriCTDisplayField, .esriCTValueField, .esriCTInfoDetailsContainer
{
    color: #808080;
}

.esriCTClose
{
    background: url("../images/close.png");
}

.esriCTHeaderPanelContent
{
    color: #d15706;
}

.esriCTInfoPanel
{
    border-top: 1px #d15706 solid;
    color: #fff;
}

.esriCTDivTriangle
{
    background-image: url("../images/bottomArrow-orange.png");
}

.esriCTLink
{
    color: blue;
}

/* Loading indicator Styles */

.esriGovtLoadSpashScreen
{
    -pie-background: rgba(0,0,0,0.6);
    background: rgba(0,0,0,0.6);
}

.esriCTdivInfoTotalFeatureCount, .esriCTdivInfoFeatureCount
{
    color: #d15706;
}
/*grouped address*/

.esriCTBottomBorder
{
    border-bottom: 1px solid #b4b4b4;
}

.esriCTdivToggle
{
    color: #808080;
}

.esriCTspanResult
{
    color: #fff;
}

.esriCTtransparentBackground
{
    background: rgba(256,256,256,0.70) !important;
    -pie-background: rgba(256,256,256,0.70) !important;
    behavior: url("styles/PIE.htc") !important;
    border-top: 1px solid #d15706 !important;
}

/*legends */

.legenboxInner
{
    border: 1px solid #d15706;
    border-bottom: none !important;
}

.legendlbl
{
    color: #808080;
}

.legenboxInner div
{
    color: #808080;
}

.esriCTLegendChangePositionUp
{
    border-bottom: 1px solid #d15706;
}

.esriCTLegendChangePositionDown
{
    border-bottom: 1px solid #d15706;
}
/* End of legends */

/*CarouselboxContainer*/

.esriCTBoxContainer
{
    border: 1px solid #d15706;
    background: #fff;
}

.esriCTSpanHeader
{
    color: #d15706;
}

.esriCTActivityContainer
{
    background-color: #FFFFFF;
}

.esriCTSpanFeatureListContainer
{
    color: #808080;
}

.esriCTtblAddressContentDirections
{
    color: #d15706;
    border-bottom-style: dotted;
    border-bottom-color: white;
}

.esriCTtxtPodAddress
{
    border: #DFDFDF solid 1px;
}


.esriCTInfotext
{
    border-bottom: 1px solid #b4b4b4;
    color: #808080;
}

.esriCTUpAndDownarrow
{
    background-color: #d15706;
}

.esriCTRightArrow, .esriCTLeftArrow
{
    background-color: #d15706 !important;
}

.esriCTSearchResultInfotext
{
    border-bottom: 1px solid #b4b4b4;
    color: #808080;
}
.esriCTDivDistance, .esriCTDivDistancePod, .esriCTInfoDivDistance
{
    color: #d15706;
}

.esriCTDivTime
{
    color: #d15706;
}
.esriCTDivPrint
{
    background: url("../images/print-orange.png") no-repeat center center !important;
}
/*Activity planner*/
.esriCTActivityListTab
{
    border-bottom: 1px solid #d15706;
    color: #d15706;
    border-right: 1px solid #FAFAFA;
    border-left: 1px solid #d15706;
}

.esriCTActivityTabSelected
{
    color: #d15706;
    border-left: 1px solid #FAFAFA;
    border-right: 1px solid #fff;
}

.esriCTActivityTab
{
    border-bottom: 1px solid #d15706;
    color: #d15706;
    border-right: 1px solid #d15706;
    border-left: 1px solid #FAFAFA;
}

.esriCTActivityTabSelected
{
    color: #d15706;
    border-left: 1px solid #fff;
    border-right: 1px solid #FAFAFA;
}

.esriCTMyListHeaderText
{
    color: #d15706;
}

.esriCTHeaderMyListRight
{
    color: #d15706;
}

.esriCTMyListRight
{
    color: #d15706;
}

.esriCTMyListText
{
    color: #d15706;
}

.esriCTActivityPlannerRight
{
    color: #d15706;
}

.esriCTActivityPlannerText
{
    color: #d15706;
}

.esriCTBottonGo
{
    background-image: url("../images/search-orange.png") !important;
}

.esriCTAddAcitivityList
{
    background-image: url("../images/add-activity-list-orange.png") !important;
}

.esriCTDirectionAcitivityList
{
    background-image: url("../images/direction-orange.png") !important;
}

.esriCTDeleteAcitivityList
{
    background-image: url("../images/delete-orange.png") !important;
}

.esriCTplusRound
{
    background-image: url("../images/add-to-list-orange.png") !important;
}

.esriCTimgOrderByDateDown
{
    background-image: url("../images/date-arrow-orange.png");
}

.esriCTimgOrderByDateUp
{
    background-image: url("../images/date-arrow-orange-up.png");
}

/*End of Activity planner*/
.esriCTtabs ul li a.esriCTImageTab
{
    color: #d15706;
}
.esriCTtabs ul li.infoSelectedTab
{
    background: #d15706;
}
.esriCTtabs li
{
    color: #d15706;
}
.esriCTImageTab
{
    color: #d15706;
    background: url("../images/direction-orange.png");
}
.esriCTImageTabselected
{
    color: #d15706;
    background: url("../images/direction-select.png");
}
.esriCTActivitySerachGoButton
{
    background: none repeat scroll 0% 0% #d15706;
}
.esriCTActivityHeadText
{
    color: #d15706;
}
